body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Harmonia Sans","Avenir Next",Helvetica,sans-serif;
}
body {
    display: block;
    margin: 8px;
}
.container-cards {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

element.style {
    background-color: rgb(233, 1, 160);
    background-image: url(https://i.webthing.co/500x/https://flexitwith.s3.us-east-2.amazonaws.com/media/bkgd_katerina.png);
}

.card-class-fund.card-class-bkgd {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.card-class-fund-sm {
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 300px;
}
.card-class-fund {
    width: 100vw;
    overflow: hidden;
    display: inline-block;
}
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Harmonia Sans","Avenir Next",Helvetica,sans-serif;
}
.true {
    border-radius: 50px;
    background-color: #4a7afa;
    padding: 6px 10px;
    margin-left: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    max-width: 100px;
}

.false {
    background-color: grey;
    vis

