<!DOCTYPE html> 
<html> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>
<body> 
    <header>
      <section class="hero is-info is-small is-bold">
        <div class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          
          <!-- This needs to be the Logo -->
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="/images/Ment.png" width="112" height="28">
            </a>
        
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
        
          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a href="/home" class="navbar-item">
                Home
              </a>
    
              <a href="/lobby" class="navbar-item">
                Lobby
              </a>
        
              <a href="/about" class="navbar-item">
                About
              </a>
    
        
            </div>
        
            <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    ${myprofile}
                    <form method="get" action="/logout"></form>
                    <a href="/login" type="submit" class="button is-light">
                        <strong>Log out</strong>
                        </form>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </section>
  </header>

    <section class="section">
        <div class="container">
            <h1 class="title">Ment</h1>
            <h2 class="subtitle">
                Welcome to <strong>Ment</strong>, a networking platform to help you meet your mentor or mentee match. 
            </h2>
        </div>
    </section>

    <h2 class= "title">Meet the Team </h2>
    </div>
    <section class="container">
        <div class="columns features">
            <div class="column is-3">
                <div class="card is-shady">
                    <div class="card-content">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="https://avatars2.githubusercontent.com/u/66217922?s=400&u=4f29b2e3071b8a8351c1115142fdebb5a825c7c5&v=4" alt="Placeholder image"alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="content">
                            <h4>Carrie Grossman</h4>
                            <p> After 12+ years of working in sales and other areas, I wanted a complete career change and pursue a career in programming. 
                                 Currently, I am a student and enrolled in the DigitalCrafts’ immersive coding bootcamp. 
                                 I have enjoyed the Full Stack Cohort and learning all of the languages that come with 
                                 coding. I am excited and also look forward to the new career possibilities that come along with it! </p>
                            <p><a href="https://github.com/carriegrossman">GitHub</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="card is-shady">
                    <div class="card-content">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="https://avatars3.githubusercontent.com/u/39058153?s=400&u=931ae447147fd0e29b306030aceba8e6179e7d97&v=4" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="content">
                            <h4>David Mitchell</h4>
                            <p>I originally attended school at Princeton University where I studied computational neuroscience. After starting my career as a management consultant in San Francisco, I quickly realized I wanted to become more technical. In order to do so, I enrolled and am currently attending DigitalCrafts’ immersive coding bootcamp and Georgia Tech’s Data Science part-time bootcamp. I’m excited to continue leveling up my software engineering skills and building valuable products.</p>
                            <p><a href="https://github.com/dmitchell217">GitHub</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="card is-shady">
                    <div class="card-content">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="https://avatars1.githubusercontent.com/u/66189150?s=400&u=758e0546808b714aa26d5daecae4abfb4ddf6399&v=4" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="content">
                            <h4>Jordan Rivers</h4>
                            <p>I originally attended school at the University of Florida. After years in the agricultural field working as a farmer, I decided that I wanted to pursue a career in programming. I am currently a student in the DigitalCrafts’ immersive coding bootcamp. This full-stack project has taught me not only how to build a website from scratch, but how to work in a team environment to create a product on time. I look forward to becoming a better builder in order to advance my career as a full-stack developer. Go Gators!</p>
                            <p><a href="https://github.com/jrussellrivers">GitHub</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="card is-shady">
                    <div class="card-content">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="https://avatars0.githubusercontent.com/u/66265731?s=400&u=6ae329f19970376e5d0118177f884b232bfd215d&v=4" alt="Placeholder image">
                            </figure>
                            </div>
                        <div class="content">
                            <h4 >Priyanka Farrell</h4>
                            <p>Upon graduating with a BA in Public Policy from the University of Chicago, I entered the classroom as math teacher in Hawaii with teach for America. Leaving the classroom, I am transitioning to a career in software engineering to tackle educational inequity through the ed-tech and policy tech sectors. I am currently a student with Digital Crafts Atlanta, where I am learning the foundations of full-stack development. I and am excited to see where this next journey will take me!.</p>
                            <p><a href="https://github.com/pfarrell18">GitHub</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



</body> 
<script type = "module"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="/js/navbarBurger.js"></script>
</html> 