<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Room ${room_id}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>
    <body>
        <section class="hero is-info is-medium is-bold">
            <div class="hero-head">
                <nav class="navbar" role="navigation" aria-label="main navigation">
      
                    <!-- This needs to be the Logo -->
                    <div class="navbar-brand">
                      <a class="navbar-item" href="/">
                        <img src="/images/Ment.png" width="112" height="28">
                      </a>
                  
                      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                      </a>
                    </div>
                  
                    <div id="navbarBasicExample" class="navbar-menu">
                      <div class="navbar-start">
                        <a href="/home" class="navbar-item">
                          Home
                        </a>
              
                        <a href="/lobby" class="navbar-item">
                          Lobby
                        </a>
                  
                        <a href="/about" class="navbar-item">
                          About
                        </a>
                  </div>
              
                  
                      <div class="navbar-end">
                          <div class="navbar-item">
                            <div class="buttons">
                              ${myprofile}
                              <form method="get" action="/logout"></form>
                              <a href="/login" type="submit" class="button is-light">
                                  <strong>Log out</strong>
                                  </form>
                              </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </nav>
            </div>
        </section>

        <h1 class="title">Your chat with ${return_username}</h1>
    
        <a ${return_link} class = "subtitle has-text-primary">${return_username}'s Page</a>
        
        <div class="table-container" style="height: 300px; overflow-y: auto;">
            <table id="chatbox" class="table is-hoverable is-striped is-fullwidth">
                <!-- <thread> -->
                    <thead class="is-selected static-chat">
                        <th>Name</th>
                        <th>Message</th>
                    </thead>
                <!-- </thread> -->
                <tbody>
                    ${messages}
                </tbody>
            </table>
    </div>
    
        <form ${actionstring} method="POST">
            <input type="text" class="input is-rounded control" id="message-input" name="messageinput" placeholder="Enter Message Here"/>
            <input type="submit" style="display: none;" />
        </form>
        <nav class="navbar is-transparent is-primary is-fixed-bottom">
            <div class="navbar-brand">
              <div class="navbar-burger burger" data-target="chatbar">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          
            <div id="chatbar" class="navbar-menu is-primary">
              <div class="navbar-end">
                <div class="navbar-item has-dropdown-up is-hoverable">
                  <div class="navbar-link navbar-end">
                    Your Chat Rooms
                  </div>
                  <div class="navbar-dropdown is-boxed">
                    ${chatrooms}
                    <hr class="navbar-divider">
                  </div>
                </div>
              </div>
            </div>
          </nav>
    </body>
    <script src="/js/navbarBurger.js"></script>
</html>
