<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    </style>
</head>
<body>
    Chat Room ${room_id}
    <div class="message-box">${messages}</div>
    <form ${actionstring} method='POST'>
        <input type="text" id="message-input" name="messageinput" placeholder="Enter Message Here">
        <input type="submit" style="display: none" />
    </form>
</body>
</html>