<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>
    <body>
        <section class="hero is-info is-medium is-bold">
            <div class="hero-head">
                <nav class="navbar" role="navigation" aria-label="main navigation">
      
                    <!-- This needs to be the Logo -->
                    <div class="navbar-brand">
                      <a class="navbar-item" href="/">
                        <img src="/images/Ment.png" width="112" height="28">
                      </a>
                  
                      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                      </a>
                    </div>
                  
                    <div id="navbarBasicExample" class="navbar-menu">
                      <div class="navbar-start">
                        <a href="" class="navbar-item">
                          Home
                        </a>
              
                        <a href= "/lobby" class="navbar-item">
                          Lobby
                        </a>
                  
                        <a href="/html/about.html" class="navbar-item">
                          About
                        </a>
              
                        <a href="/html/image-upload.html" class="navbar-item">
                          Upload Image
                        </a>
                  
                      </div>
                  
                      <div class="navbar-end">
                        <div class="navbar-item">
                          <div class="buttons">
                            <a href="#" class="button is-primary">
                              <strong>${user.username}</strong>
                            </a>
                            <form method="get" action="/logout"></form>
                            <a href="/login" type="submit" class="button is-light">
                                <strong>Log out</strong>
                                </form>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </nav>
                 

                  <!-- <section class="hero is-info is-large"> -->
                  <section class="hero is-medium is-info is-bold">
                    <div class="hero-body">
                      <h1 class="title">
                        Search for a Ment
                      </h1>
                      
                  <div class="panel">
                    <div class="panel-block">
                        <div class="field">
                          <form action="/lobby" method="POST"> 
                            <div class="control" id="search" name="search">
                              <div class="select" id="search" name="search">
                                <select id="search" name="search">
                                  <option value="username">Username</option>
                                  <option value="password">Email</option>
                                  <option value="zipcode">Zipcode</option>
                                </select>
                              </div>
                            </div>
                            <input class="input" type="text" placeholder="Enter Search" name="SearchQuery" >

                        </form>
                            ${cards}
                          
                        </h2>
                        </div>
                    </div>
                </div>
                </div>
                </section>

                  
<!--                     

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      
    </p>
  </div>
</footer>
                 -->
            
    </body>
    <script src="../js/bulma.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="../js/navbarBurger.js"></script>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lobby v2</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="../css/cards.css">
    <style>
    .true {
        border-radius: 50px;
        background-color: #4a7afa;
        padding: 6px 10px;
        margin-left: 10px;
        color: #fff;
        font-weight: 600;
        font-size: 12px;
        max-width: 100px;
    }

    .false {
        background-color: grey;
        visibility: hidden
    }
</style>
  </head>
  <body>
     <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://cdn.emk.dev/templates/bulma-logo-light.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              Examples
            </a>
            <a class="navbar-item">
              Features
            </a>
            <a class="navbar-item">
              Team
            </a>
            <a class="navbar-item">
              Archives
            </a>
            <a class="navbar-item">
              Help
            </a>
          </div>
        </div>
      </div>
    </nav>
    <form action="/lobby" method="POST"> 
        <label><b>Search for a Ment</b></label> 
        <select id="search" name="search">
            <option value="username">Username</option>
            <option value="password">Email</option>
            <option value="zipcode">Zipcode</option>
             <option value="audi">Audi</option> 
        </select>
        <input type="text" placeholder="Enter Search" name="SearchQuery"> 
    </form>
        ${cards}
        <nav class="navbar is-transparent is-primary is-fixed-bottom">
          <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="chatbar">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        
          <div id="chatbar" class="navbar-menu is-primary">
            <div class="navbar-end">
              <div class="navbar-item has-dropdown-up is-hoverable">
                <div class="navbar-link navbar-end">
                  Your Chat Rooms
                </div>
                <div class="navbar-dropdown is-boxed">
                  ${chatrooms}
                  <hr class="navbar-divider">
                </div>
              </div>
            </div>
          </div>
        </nav>
      </body>
      <script src="../js/navbarBurger.js"></script>
</html> -->