<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
</head>
<body>
    <!-- <form action="/lobby" method="POST"> 
        <div class="container"> Search for a Ment...
            <label><b>Search by name</b></label> 
            <input type="text" placeholder="Enter name" name="usernameFind" id = "usernameFind"> 

            <label><b>Search by email</b></label> 
            <input type="text" placeholder="Enter email" name="emailFind" id = "emailFind"> 
  
            <label><b>Search by location </b></label> 
            <input type="text" placeholder="Enter Zipode" name="zipcodeFind" id = "zipcodeFind"> 

            <button type="submit" id="search-button">Search</button>
        </div> 
    </form>  -->
    <form action="/lobby" method="POST"> 
        <label><b>Search for a Ment</b></label> 
        <select id="search" name="search">
            <option value="username">Username</option>
            <option value="password">Email</option>
            <option value="zipcode">Zipcode</option>
            <!-- <option value="audi">Audi</option> -->
        </select>
        <input type="text" placeholder="Enter Search" name="SearchQuery"> 
    </form>
   <div>
    ${cards}
   </div>
</body>
</html>