<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    <div class="w3-container">
        <div class="w3-bar w3-green">
          <a href="/" class="w3-bar-item w3-button">ProjectM</a>
          <a href="#" class="w3-bar-item w3-button">Browse</a>
          <!-- <a href="#" class="w3-bar-item w3-button">${user.username}</a> -->
        </div>
      </div>
    <h1>
        You should be a mentee looking at a mentor page
    </h1>

</body>
<script>

</script>
</html>