<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <style>
        .true {
            border-radius: 50px;
            background-color: #4a7afa;
            padding: 6px 10px;
            margin-left: 10px;
            color: #fff;
            font-weight: 600;
            font-size: 12px;
            max-width: 100px;
        }

        .false {
            background-color: grey;
            visibility: hidden
        }
    </style>
</head>
<body>
    <div class="w3-container">
        <div class="w3-bar w3-green">
          <a href="/" class="w3-bar-item w3-button">ProjectM</a>
          <a href="#" class="w3-bar-item w3-button">Browse</a>
          <a href="#" class="w3-bar-item w3-button">${user.username}</a>
          <a href="/html/image-upload.html" class="w3-bar-item w3-button">Upload Photo</a>
        </div>
      </div>
    <h1>
        Welcome ${user.username}!
        ${picture}
    </h1>

    <div>
        <button>View Profile</button>
        <button>Edit Profile</button>
    </div>

    <div>
        <form method="get" action="/lobby">
            <button type="submit">Find Mentee</button>
        </form>
        
        ${chatlink}
    </div>
    <br>

    <form ${actionString} method="POST"> 
        <label><b>Update your skill list</b></label> 
        <select id="skill" name="skill">
            <option value="pm">Product Management</option>
            <option value="creative">Creative</option>
            <option value="ml">Machine learning</option>
            <option value="datascience">Data science</option>
            <option value="softwareengineering">Software Engineering</option>
            <option value="webdev">Web Developement</option>
            <!-- <option value="audi">Audi</option> -->
        </select>
        <input type="submit" value="UpdateSkill" class="myButton"> 
    </form>
    ${skillCards}
    <div>
        <h1>
            Manage Account
        </h1>
        <button>Change Password</button>
        <form method="get" action="/logout">
            <button type="submit">Logout</button>
        </form>
    </div>
    ${connectbutton}
    ${connectionslist}
</body>
<script>

</script>
</html>